*{
    margin: 0;
    padding: 0;
}

.a11ytext{
    clip: rect(1px 1px 1px 1px); /* IE 6/7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

footer{
    background-color: #0891B2;
}

.link > img{
    width: 50px;

}

.card-link > img{
    width: 2rem;

}

figure{
    position: relative;
    display:flex;
    flex-direction:column;
    align-items:center;
}

figure > img{
    width: 800px;
    box-shadow: 1px 1px 4px #8B8C8B;
}

figcaption{
    position: absolute;
    bottom: 47px;
    font-size: 5rem;
    line-height:0;
    color: white;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position:relative;
}

header::before {
    content: '';
    display:block;
    height:100%;
    width: 100%;
    z-index: -1;
    top:0;
    left:0;
    transform:skew(0, -12deg);
    transform-origin: top left;
    background-color: #0891b2;
    position: absolute;
    box-shadow: 1px 1px 4px;
}

.about{
    background-color: #ffffff;
    width: 800px;
    height: 600px;
    box-shadow: 1px 1px 4px #8B8C8B;
    padding: 1.5em;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    font-size: 2.5rem;
    gap: 25px;
}

.about > p{
    flex-grow:1;
    color: #575655;
    line-height: 2.75rem;
}

h2{
    font-size: 4rem;
    font-weight: normal;
}

.about > .links{
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

main{
    padding: 50px 100px;
}

.my-work{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 50px;
    column-gap: 5%;

}

.card{
    box-shadow: 2px 2px 4px #8B8C8B;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;

    width: 100%;
}

.card > img{
    flex: 0 0 33%;
    max-height: 65%;
    object-fit: cover;
}

.card-title{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
}

.card-title > h3{
    font-weight:normal;
    font-size: 1.25rem;
}

.card-text{
    padding: 10px 25px;
    flex: 1;
}

.card-description{
    color: #575655;
    font-size: 1.1rem;
}

.one{
    justify-self: start;
}

.two{
    justify-self: center;
}

.three{
    justify-self: end;
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 60px 100px;
}

.contact > h2{
    padding-bottom: 10px;
}

.contact{
    color: #ffffff;
    font-size: 2rem;
}

address{
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-style: normal;
}

.phone-and-email > p{
    display:flex;
    align-items:center;
    gap: 12px;
    padding-top: 10px;
}

.phone-and-email > p > img{
    width: 40px;
}

a, a:hover, a:visited{
    text-decoration:none;
    color: inherit;
}

.contact-link > img{
    width: 60px;
    padding-right: 20px;
}

@media (min-width: 1201px) and (max-width: 1920px){
    figure > img{
        width: 600px;
    }

    figcaption{
        font-size: 3.75rem;
    }

    .about{
        width: 600px;
        height: 400px;
    }

    .about{
        font-size: 1.5rem;
    }

    .about > p{
        line-height: 1.5rem;
    }

    h2{
        font-size: 3rem;
    }

    .link > img{
        width: 40px;
    }

    .contact{
        font-size: 1.5rem;
    }

    .phone-and-email > p > img{
        width: 30px;
    }

    .contact-link > img{
        width: 50px;
    }
}

@media (min-width: 601px) and (max-width: 1200px){
    figure{
        position: absolute;
        top: 5%;
        left: 5%;
        width: 41.6%;
        height: 61.7%;
    }

    header{
        height: 810px;
    }

    header::before {
        transform:skew(0, -20deg);
        transform-origin: top left;
    }

    figure > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        float:left;
    }

    figcaption{
        font-size: 3rem;
        text-wrap: nowrap;
        position: absolute;
        top: 90px;
        right: 30px;
        text-shadow: 1px 1px 3px black;
        height: 0;
        width: 0;

    }

    .about{
        width: 700px;
        height: 450px;
        margin-top: 50px;
        gap: 0;
    }

    .about > h2{
        align-self: end;
        padding-right: 15%;
        padding-top: 20px;
    }

    .about{
        font-size: 1.5rem;
    }

    .about > p{
        line-height: 2.15rem;
        align-self:end;
    }

    .about > p::before{
        content: '';
        display: inline-block;
        width: 312px;
        height: 259px;
        float: left;
        padding-right: 18px;
    }

    h2{
        font-size: 3rem;
    }

    .my-work{
        display:grid;
        grid-template-columns: 1fr 1fr;

    }

    .card-link > img{
        width: 1.75rem;
    }

    .link > img{
        width: 40px;
    }

    .contact{
        font-size: 1.25rem;
    }

    .phone-and-email > p > img{
        width: 30px;
    }

    .contact-link > img{
        width: 50px;
    }

    footer > img{
        object-fit: cover;
        width: 375px;
        padding-left: 25px;
    }

}

@media (max-width: 600px){

    header{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: 100vw;
        height: auto;
    }

    figure{
        padding-top: 25px;
        height: 75vh;
        width: 80vw;
        justify-self: center;
    }

    header::before {
        transform:skew(0, -30deg);
        transform-origin: top left;
        height: calc(0.7 * 100vh);
    }

    figure > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        float:left;
    }

    figcaption{
        font-size: 3rem;
        text-wrap: wrap;
        position: absolute;
        text-shadow: 1px 1px 3px black;
        line-height:6rem;
        bottom: 0;
        height: 170px;
        padding-left: 5%;
    }

    .about{
        height: auto;
        width: 100vw;
        display: inline;
        gap: 0;
        box-shadow: none;
        background-color: transparent;
    }

    .about{
        font-size: 1.5rem;
        padding: 1.5em 0;
    }

    .about > p{
        line-height: 2.15rem;
        padding-left: 25px;
        padding-right: 25px;
    }

    .about > .links{
        justify-content: center;

    }

    h2{
        font-size: 4rem;
        text-align:center;
    }

    main{
        padding: 50px 25px 150px 25px;
        height: auto;
    }

    .my-work{
        display:grid;
        grid-template-columns: 1fr;
    }

    .card-link > img{
        width: 2rem;
    }

    .card-title > h3{
        font-size: 1.5rem;
    }

    .card-link{
        padding-left: 10px;
    }

    .link > img{
        padding-top: 10px;
        width: 50px;
    }

    footer{
        flex-direction:column;
        padding: 60px 0 0 0;
    }

    .contact{
        font-size: 1.25rem;
        padding: 0 25px;
    }

    .phone-and-email > p > img{
        width: 30px;
    }

    .contact-link > img{
        width: 50px;
    }

    footer > img{
        object-fit: cover;
        width: 100vw;

    }

    address{
        gap: 25px;
        padding-bottom: 50px;
    }

    address > p{
        font-size: 1.75rem;
    }

    address > links{
        align-self:center;
    }


}
