*{
    margin: 0;
    padding: 0;
}

.a11ytext{
    clip: rect(1px 1px 1px 1px); /* IE 6/7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

footer{
    background-color: #0891B2;
}

.link > img{
    width: 40px;

}

.card-link > img{
    width: 20px;

}

figure{
    position: relative;
    display:flex;
    flex-direction:column;
    align-items:center;
}

figure > img{
    width: 800px;
    box-shadow: 1px 1px 4px #8B8C8B;
}

figcaption{
    position: absolute;
    bottom: 47px;
    font-size: 5em;
    line-height:0;
    color: white;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position:relative;
}

header::before {
    content: '';
    display:block;
    height:100%;
    width: 100%;
    z-index: -1;
    top:0;
    left:0;
    transform:skew(0, -12deg);
    transform-origin: top left;
    background-color: #0891b2;
    position: absolute;
    box-shadow: 1px 1px 4px;
}

.about{
    background-color: #ffffff;
    width: 800px;
    height: 600px;
    box-shadow: 1px 1px 4px #8B8C8B;
    padding: 1.5em;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    font-size: 1.5em;
    gap: 25px;
}

.about > p{
    flex-grow:1;
    color: #575655;
    line-height: 1.5em;
}

h2{
    font-size: 2.5em;
    font-weight: normal;
}

.about > .links{
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

main{
    padding: 50px;
}

.my-work{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 50px;
    column-gap: 35px;

}

.card{
    box-shadow: 2px 2px 4px #8B8C8B;
    display:flex;
    flex-direction:column;
}

.card-title{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
