*{
    margin: 0;
    padding: 0;
}

.a11ytext{
    clip: rect(1px 1px 1px 1px); /* IE 6/7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

footer{
    background-color: #0891B2;
}

.link > img{
    width: 50px;

}

.card-link > img{
    width: 2rem;

}

figure{
    position: relative;
    display:flex;
    flex-direction:column;
    align-items:center;
}

figure > img{
    width: 800px;
    box-shadow: 1px 1px 4px #8B8C8B;
}

figcaption{
    position: absolute;
    bottom: 47px;
    font-size: 5rem;
    line-height:0;
    color: white;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position:relative;
}

header::before {
    content: '';
    display:block;
    height:100%;
    width: 100%;
    z-index: -1;
    top:0;
    left:0;
    transform:skew(0, -12deg);
    transform-origin: top left;
    background-color: #0891b2;
    position: absolute;
    box-shadow: 1px 1px 4px;
}

.about{
    background-color: #ffffff;
    width: 800px;
    height: 600px;
    box-shadow: 1px 1px 4px #8B8C8B;
    padding: 1.5em;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    font-size: 2.5rem;
    gap: 25px;
}

.about > p{
    flex-grow:1;
    color: #575655;
    line-height: 2.75rem;
}

h2{
    font-size: 4rem;
    font-weight: normal;
}

.about > .links{
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

main{
    padding: 50px 100px;
}

.my-work{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 50px;
    column-gap: 5%;

}

.card{
    box-shadow: 2px 2px 4px #8B8C8B;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;

    width: 100%;
}

.card > img{
    flex: 0 0 33%;
    max-height: 65%;
    object-fit: cover;
}

.card-title{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
}

.card-title > h3{
    font-weight:normal;
    font-size: 1.25rem;
}

.card-text{
    padding: 10px 25px;
    flex: 1;
}

.card-description{
    color: #575655;
    font-size: 1.1rem;
}

.one{
    justify-self: start;
}

.two{
    justify-self: center;
}

.three{
    justify-self: end;
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 60px 100px;
}

.contact > h2{
    padding-bottom: 10px;
}

.contact{
    color: #ffffff;
    font-size: 2rem;
}

address{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.phone-and-email > p{
    display:flex;
    align-items:center;
    gap: 12px;
    padding-top: 10px;
}

.phone-and-email > p > img{
    width: 40px;
}

a, a:hover, a:visited{
    text-decoration:none;
    color: inherit;
}

.contact-link > img{
    width: 60px;
    padding-right: 20px;
}

@media (max-width: 1920px){
    figure > img{
        width: 700px;
    }

    figcaption{
        font-size: 3.75rem;
    }

    .about{
        width: 700px;
        height: 500px;
    }

    .about{
        font-size: 1.5rem;
    }

    .about > p{
        line-height: 1.5rem;
    }

    h2{
        font-size: 3rem;
    }
}
